:root {
  --violetFonce: #962daf;
  --violetClair: #e5d8f4;
  --blackParagraph: #4d4d4d;
  --blackTitre: #3d3240;
  --white: #fbfeff;
  --vertClair: #bfdfdd;
  --orange: #f9ddd4;
}

* {
  margin: 0%;
  padding: 0%;
  list-style: none;
  text-decoration: none;
  overscroll-behavior: none;
  scroll-behavior: smooth;

  font-family: "Work Sans", sans-serif;
  /* font-family: "Montserrat Alternates", sans-serif; */
}

html,
.root {
  font-size: 20px;
  line-height: 23px;
}
h1,
.h1 {
  font-size: 45px;
  margin-top: 26px;
  margin-bottom: 52px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
}
h2,
.h2 {
  font-size: 42px;
  margin-top: 100px;
  margin-bottom: 80px;
  font-family: "Montserrat Alternates", sans-serif;
  color: var(--violetFonce);
}
h3,
.h3 {
  font-size: 30px;
  line-height: 52px;
  margin-bottom: 0px;
  font-family: "Montserrat Alternates", sans-serif;
}

html {
  height: 100%;
  width: 100%;
}

.divWith {
  display: flex;
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

/* ---------------------------------------NAVBAR HASNA---------------------------------------------------------------- */
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  background-color: #962daf;
  align-items: center;
  /* Alignement vertical */
  cursor: pointer;
  position: fixed;
  z-index: 1;
  width: 100%;
  img {
    width: 79px;
    height: 70px;
    border-radius: 8px 8px 8px 8px;
  }

  a:hover {
    color: var(--violetClair);
    /* Couleur au survol */
  }

  a {
    color: var(--white);
  }

  ul {
    width: 30%;
    display: flex;
    justify-content: space-around;
    /* Espace entre les liens */

    a {
      font-weight: 400;
    }
  }
}

/* -----------------------------------SECTION HERO HASNA--------------------------------------------- */

#sectionHero{
  padding-top: 15px;
}












*/-------------------------------------------section
  Soution
  Cheick----------------------------------------------
  #sectionSoutien {
  display: flex;
  h2 {
    align-self: center;
  }
}
