:root {
  --violetFonce: #962daf;
  --violetClair: #e5d8f4;
  --blackParagraph: #4d4d4d;
  --blackTitre: #3d3240;
  --white: #fbfeff;
  --vertClair: #bfdfdd;
  --orange: #f9ddd4;
  --violetDegrade:#F5EEFC;
}

* {
  margin: 0%;
  padding: 0%;
  list-style: none;
  text-decoration: none;
  overscroll-behavior: none;
  scroll-behavior: smooth;
  box-sizing: border-box;

  font-family: "Work Sans", sans-serif;
  /* font-family: "Montserrat Alternates", sans-serif; */
}

html,
.root {
  font-size: 18px;
  line-height: 1.5;
  color: var(--blackParagraph);
}
h1,
h2,
h3 {
  line-height: 1.1;
  font-family: "Montserrat Alternates", sans-serif;
  color: var(--blackTitre);
}
h1,
.h1 {
  font-size: 56px;
  margin-top: 26px;
  margin-bottom: 52px;
  font-weight: 700;
  line-height: 1.5;
}
h2,
.h2 {
  font-size: 42px;
  margin-top: 100px;
  margin-bottom: 80px;
  color: var(--violetFonce);
  text-align: center;
}
h3,
.h3 {
  font-size: 26px;
  margin-bottom: 40px;
}

html {
  height: 100%;
  width: 100%;
}

img{
  object-fit: cover;
}

.divWidth {
  display: flex;
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

.buttonNavBar {
  border: solid 2px var(--violetClair);
  color: var(--violetClair);

  padding: 16px 8px;
  border-radius: 30px 30px 30px;
  text-align: center;
}

.buttonNavBar:hover {
  color: var(--blackTitre);
  background-color: var(--violetClair);
  transition: color 0.3s ease;
}

.button {
  border: solid 1px var(--violetFonce);
  background-color: var(--violetFonce);
  color: var(--white);
  padding: 16px 8px;
  border-radius: 30px 30px 30px;
}

.button:hover {
  color: var(--white);
  background-color: #640b72;
  transition: color 0.3s ease;
}

.backgroundViolet {
  background-color: var(--violetClair);
  padding: 60px;
}

.sectionPadding{
  padding: 60px;
}
.buttonTelechargement {
  border: solid 1px var(--blackTitre);
  background-color: #061310;
  color: var(--white);
  padding: 18px 8px;
  border-radius: 30px 30px 30px;
}


/* ---------------------------------------NAVBAR HASNA---------------------------------------------------------------- */
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  background-color: var(--violetFonce);
  align-items: center;
  /* Alignement vertical */
  cursor: pointer;
  position: fixed;
  z-index: 10;
  width: 100%;
  img {
    width: 79px;
    height: 70px;
    border-radius: 8px 8px 8px 8px;
  }

  ul {
    width: 70%;
    display: flex;
    justify-content: space-around;
    /* Espace entre les liens */
    a {
      color: var(--white);
      font-weight: 400;
    }
    a:hover {
      color: var(--violetClair);
      /* Couleur au survol */
    }
  }
}

/* -----------------------------------SECTION HERO HASNA--------------------------------------------- */
#sectionHero {
  padding-top: 107px;
  background-color: var(--violetClair);
  /* padding top pour faire apparaitre la section qui est sous la navBar fixed */
  img {
    width: 50%;
  }
  
  #divHero {
    width: 100%;
    display: flex;
    align-items: center;
    /* margin-left: 264px; */
    /* section total = 1728 - 1200= 528/2= 264  */
  }
  #divTextHero {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* margin-right: 185px; */
    margin-left: 40px;
    p {
      font-size: 30px;
      font-weight: 500;
      padding-bottom: 35px;
    }
    a {
      display: flex;
      align-items: center;
      text-align: center;
      font-weight: 500;
      font-size: 18px;
      gap: 13px;
      padding-block: 10px;
      padding-inline: 15px;
      img{
      width: 75px;
      }
    }
    .buttonFlex{
      display: flex;
      gap: 20px;
    }
  }
}
/* -------------------------------------------Section Problematique----------------------------------------------- */
#sectionProblematique {
  h2 {
    text-align: center;
  }
}
.cardProb {
  text-align: center;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 380px;

  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  h3 {
    line-height: 1.1;
  }
  img {
    height: 103px;
  }
}
.divWidthP {
  display: flex;
  max-width: 1200px;
  justify-self: center;
  gap: 25px;
}
#marg {
  margin-top: 30px;
}
/* ------------------------------------------SECTION AVIS------------------------------------------------- */

#slider {
  position: relative;
  width: auto;
  margin: auto;
  overflow: hidden;
  padding: auto;

  #imgVert{
    border: solid 6px var(--vertClair);
  }
  #imgOrange{
     border: solid 6px var(--orange);
  }
   #imgViolet{
     border: solid 6px var(--violetClair);
  }
}

.containerAvis {
  display: flex;
  transition: transform 0.4s ease;
  gap: 1rem;
  margin: auto;
}

.cardAvis {
  padding: 20px;
  flex: 0 0 40%;
  background: #fff;
  border-radius: 12px;
  margin: 1rem;
  display: flex;
  gap: 1rem;
  width: 384px;
  height: 201px;
  align-items: center;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}

.photo {
  width: 88px;
  height: 115px;
  border-radius: 20%;
  align-items: center;
  justify-content: space-around;
  object-fit: cover;
  flex-shrink: 0;
}

.fleche {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
  z-index: 1;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#precedent {
  left: 10px;
}

#suivant {
  right: 10px;
}

/* ------------------------------------------SECTION MOKUPS---------------------------------------------- */

.sectionMokup {
  display: flex;
  width: 100%;
   h2{
    margin-top:0px;
  }
}
.divMokup {
  display: flex;
  img {
    width: 50%;
    padding-inline: 30px;
  }
  
  margin-inline: 120px;
}
.TextMokup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 50px;
}
#backgroundVioletDegrade{
  background-color: var(--violetDegrade);
}
#sectionMokups{
  h2{
    margin-top: 0px;
  }
}
/* #boxSize{
width: 400px;
} */

/*---------------------------------sectionSoutienCheick--------------------------------------------------*/
/* #sectionSoutien{ */
  /* height:750px;
  display: flex;
 flex-direction: column;
 align-items: center; */
/* } */
.divWidth {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  img {
    height: 170px;
    gap: 50px;
  }
}

/* ---------------------------------------------SECTION CONVERSION HASNA-------------------------------- */

#sectionConversion {
  display: flex;
  .divWidth {
    flex-direction: column;
    h2 {
      margin-bottom: 10px;
    }
    h3 {
      margin-bottom: 0px;
    }
    p {
      font-size: 30px;
    }
    
  }
  #divConversion {
    margin-left: 40px;
    width: 55%;
  }
  img{
   width:100%;

  }
  #imgMokupLogo{
    width: 60%;
    text-align: center;
  }
  

 #buttonConversion {
      display: flex;
      flex-direction: column;
      margin-top: 80px;
      text-align: center;
    }
     #buttonCtaConversion {
      a {
      display: flex;
      align-items: center;
      text-align: center;
      font-weight: 500;
      font-size: 18px;
      gap: 13px;
      padding-block: 10px;
      padding-inline: 15px;
      img{
      width: 75px;
      }
    }
    .buttonFlex{
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
    }
}

/*-------------------------------------sectionFooterCheick------------------------------------------------*/
footer {
  padding: 15px;
  background-color: var(--violetFonce);
  display: flex;
  justify-content: space-between;
  img {
    width: 90px;
    height: 80px;
    border-radius: 8px 8px 8px 8px;
  }
  ul {
    display: flex;
    flex-direction: column;
    width: 70%;
    display: flex;
    justify-content: space-around;
    /* Espace entre les liens */
    a {
      color: var(--white);
      font-weight: 400;
    }
    a:hover {
      color: var(--violetClair);
      /* Couleur au survol */
    }
  }
}
.footer {
  display: flex;
}
#divF3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  p {
    color: white;
  }
}
#divF2 {
  ul {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
}


/* -------------------------------------------DOC.HTML-------------------------------------------- */
.personas {
  img {
    width: 80%;
   
  }
}
.flow {
   img {
    width: 80%;
   
  }
}

.sectionFlex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 80px;
  justify-self: anchor-center;
      text-align: center;
}

.sectionCenter{
 text-align: center;
}

#services{
text-align: center;
 h3{
  margin-bottom: 15px;
 }
 p{
  margin-bottom: 60px;
 }
}
.bilflex{
      h3{
            padding-top: 40px;
      }
}
#olspace{
  margin-top: 40px;
  font-size: 25px;
  text-align: left;
}

#buttonnotre {
 border: solid 1px var(--violetFonce);
  background-color: var(--violetFonce);
  color: var(--white);
  padding: 16px 8px;
  border-radius: 30px 30px 30px;
}

#frame {
  
}







/* #divFonctionnement{
li{
 text-decoration: solid;
}
} */
